<% form_tag({:action => 'create'}, {:multipart => true, 'onSubmit' => 'allSelect()', 'class' => 'editform'}) do %>
<h2>New book</h2>
  <%= render :partial => 'form' %>

<label for="Create">Submit</label>
<%= submit_tag "Create" %><br />

<% end %>


<%= link_to 'Back', :action => 'list' %>
