<td><%= @authorship.author.name %></td>
<td><%= @authorship.kind %></td>
<td class="button"><%= link_to_remote "Edit", :url => { :controller => "admin/authorships", :action => "edit", :id => @authorship },
							:loading => "Element.show('authorship_spinner#{@authorship.id}')",
							:complete => "Element.hide('authorship_spinner#{@authorship.id}')" %></td>
<td class="button"><%= link_to_remote "Destroy", 	:url => { :controller => "admin/authorships", :action => "destroy", :id => @authorship },
													:loading => "Element.show('authorship_spinner#{@authorship.id}')",
													:complete => "Element.hide('authorship_spinner#{@authorship.id}')",
													:confirm => "Are you sure you want to delete this authorship?"	 %></td>
<td class="button"> <span id="authorship_spinner<%= @authorship.id %>" style="display:none;"><%= image_tag "spinner-trans.gif", :class => "spinner" %></span></td>