<h1>Histoire de la base de donn&eacute;es</h1>

<p>La base de donn&eacute;es correspond &agrave; la collection QWF, une collection mat&eacute;rielle de pr&egrave;s de 700 livres qui a &eacute;t&eacute; rassembl&eacute;e en grande partie au cours des dix derni&egrave;res ann&eacute;es. Cette collection est h&eacute;berg&eacute;e chez l&#8217;un de nos partenaires dans cette aventure, la Biblioth&egrave;que Atwater et Centre informatique de Montr&eacute;al (Qu&eacute;bec).</p>