<h1>Nos commanditaires</h1>

<p>Mise sur pied gr&acirc;ce &agrave; une subvention du minist&egrave;re du Patrimoine canadien, la base de donn&eacute;es litt&eacute;raires est maintenant une initiative permanente financ&eacute;e par la QWF et la g&eacute;n&eacute;rosit&eacute; de ses membres. L&#8217;UNESCO a proclam&eacute; Montr&eacute;al &laquo; Capitale mondiale du livre &raquo; pour l&#8217;ann&eacute;e 2005-2006. Le lancement de la base de donn&eacute;es - qui b&eacute;n&eacute;ficie du soutien g&eacute;n&eacute;reux du comit&eacute; de Montr&eacute;al Capitale mondiale du livre - s&#8217;inscrit dans la c&eacute;l&eacute;bration de cet &eacute;v&eacute;nement.</p>

<p>Pour en savoir plus long sur la Quebec Writers&#8217; Federation, cliquez sur http://www.QWF.org</p>

<p>La QWF est heureuse de b&eacute;n&eacute;ficier du soutien financier du Conseil des arts du Canada, du Conseil des arts et des lettres du Qu&eacute;bec, du Conseil des arts de Montr&eacute;al, du minist&egrave;re du Patrimoine canadien, du Groupe financier RBC et des commanditaires des prix QWF : John Abbott College, Champlain Regional College, Dawson College, Heritage College, Vanier College, la Brasserie McAuslan, Pierre Lapointe et la famille de Sidney Weisbord.</p>