<div class="editform">
<h2 class="title">Search Books</h2>

<%= start_form_tag ({:controller => 'books', :action => 'update', :id => @book}) %>

<label for="book_title">Title</label>
<%= text_field 'book', 'title'  %><br />

<label for="book_category">Category</label>
<%= select "book","category",['Fiction','Non-Fiction','Poetry','Children']  %><br />

<label for="Search">Submit</label>
<%= submit_tag 'Edit' %><br /> 
<%= end_form_tag %>


<h2 class="title">Search Authors</h2>



</div>