<h1>Background on the database</h1>

<p>The QWF Literary Database was started with a grant from the Department of Canadian Heritage, and is now an ongoing project financed by the QWF and the generosity of its members. This year Montreal was designated by UNESCO as the book capital of the world, and this database is launched to help celebrate that fact. The launch itself is supported by a generous donation from the Montreal World Book Capital Committee. 
You can find out more about the Quebec Writers’ Federation at <a href="http://www.qwf.org">our web site</a>.

<p>The Quebec Writers’ Federation gratefully acknowledges the support of The Canada Council for the Arts, The Conseil des arts et des lettres du Québec, The Conseil des art de Montréal, The Department of Canadian Heritage, RBC Financial Group and the sponsors of the QWF Awards:
John Abbott College, Champlain Regional College, Dawson College, Heritage College, Vanier College, McAuslan Brewing, Pierre Lapointe and the family of Sidney Weisbord.</p>
