<h1>Background on the database</h1>

<p>The QWF Literary Database was launched by the Quebec Writers' Federation (QWF) in the winter of 2006 as part of the year-long celebration of Montreal as UNESCO's "Book Capital of the World." The launch was supported by a generous donation from the Montreal World Book Capital Committee, and the ongoing project is supported by the Department of Canadian Heritage and the generosity of QWF's members. You can learn more about the Quebec Writers' Federation at <a href="http://www.qwf.org">our web site</a>.</p>

<p>The Quebec Writers' Federation gratefully acknowledges the support of The Canada Council for the Arts, The Conseil des arts et des lettres du Québec, The Conseil des art de Montréal, The Department of Canadian Heritage and the sponsors of the QWF Awards: John Abbott College, Champlain Regional College, Dawson College, Heritage College, Vanier College, McAuslan Brewing, Paragraphe Bookstore, Pierre Lapointe and the family of Sidney Weisbord.</p>