<%= link_to 'Home', { :controller => 'index', :action => 'index' } %> > 
<%= link_to "#{controller.controller_name.capitalize}", { :controller => "#{controller.controller_name}"} %> > 
<%= controller.action_name.capitalize %>