<table id="table1">
    <tr>
      <th>Publisher Name</th>
      <th>Publisher Code</th>   
      <th>Delete</th>      
    </tr>
  
<% for publisher in @publishers %>
  <tr class="<%= cycle("even", "odd") %>">
	<td><%= link_to publisher["publisher_name"] , :action => 'edit', :id => publisher %></td>
    <td><%=h publisher["publisher_code"] %></td>
    <td><%= link_to 'Destroy', {:action => 'destroy', :id => publisher}, :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>
