<table>
  <tr>
    <th>Award Name</th>  
    <th>Type</th>
    <th>Delete</th>  
  </tr>
  
<% for award in @awards %>
  <tr>
    <td><%= link_to award["award"], :action => 'edit', :id => award %></td>
    <td><%=h award["award_type"] %></td>
    <td><%= link_to 'Destroy', {:action => 'destroy', :id => award}, :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>

