<%= start_form_tag ({:action => 'update', :id => @publisher}, {'onSubmit' => 'allSelect()', 'class' => 'editform'}) %>
<h2>Edit Publisher: <%= @publisher.publisher_name %></h2>
  <%= render_partial 'form' %>
<label for="Edit">Submit</label>
<%= submit_tag 'Edit' %><br />

</div><!-- end of div form_cols -->
<%= end_form_tag %>