<% form_tag({:action => 'create'}, {'onSubmit' => 'allSelect()', 'class' => 'editform'}) do %>
<h2>New publisher</h2>
  <%= render_partial 'form' %>
<label for="Create">Submit</label>
<%= submit_tag "Create" %><br />
<% end %>


<%= link_to 'Back', :action => 'list' %>
