<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>QWF Literary Database of Quebec English-language Authors : <%= controller.controller_name.capitalize + ": " + controller.action_name.capitalize %></title>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "suckerfish" %>
  <%= stylesheet_link_tag 'public', :media => 'all' %>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<a href="/">
			<% if controller.action_name == 'francais' || controller.action_name == 'histoire'  %>
				<img src="/images/bienvenue.gif" alt="Welcome to the QWF Literary Database of Quebec English-Lanuage Authors" title="Welcome to the QWF Literary Database of Quebec English-Lanuage Authors" id="welcome"></a>
			<% else %>
			<img src="/images/welcome.gif" alt="Welcome to the QWF Literary Database of Quebec English-Lanuage Authors" title="Welcome to the QWF Literary Database of Quebec English-Lanuage Authors" id="welcome"></a>
			<% end %>
		<ul id="nav">
		<li><%= link_to 'Home', { :controller => 'index', :action => 'index' } %></li  
	    >
		<li><%= link_to 'Awards', { :controller => 'awards', :action => 'index' } %><ul>
			<% (1988..2008).to_a.reverse.each do |year| %><li><%=  link_to "#{year}", { :controller => 'awards', :action => 'year', :year => year } %></li><% end %></ul></li>
		<li><%= link_to 'Authors', { :controller => 'authors', :action => 'index' } %></li  
	    ><li><%= link_to 'Books', { :controller => 'books', :action => 'index' } %><ul>
		<li><%= link_to 'Fiction', { :controller => 'books', :action => 'genre', :genre => 'Fiction' } %></li
		><li><%= link_to 'Non-Fiction', { :controller => 'books', :action => 'genre', :genre => 'Non-Fiction' } %></li
		><li><%= link_to 'Poetry', { :controller => 'books', :action => 'genre', :genre => 'Poetry' } %></li	
		></ul>	
			</li
	    ><li><%= link_to 'Contact', { :controller => 'index', :action => 'contact' } %></li>
	    </ul>	
			
		<ul class="mynav" id="nav2">
			<% unless controller.action_name == 'francais' || controller.action_name == 'histoire'  -%>
	    <li><%= link_to 'Fran&ccedil;ais', { :controller => 'index', :action => 'francais' } %></li
	    ><% else -%>
	    <li><%= link_to 'English', { :controller => 'index', :action => 'index' } %></li
	    ><% end -%>
	    </ul>
	</div>
	
	<div id="portraits">
	</div>
	<div id="maincontent">
<%= @content_for_layout %>
	</div><!-- End Div "maincontent"-->
</div><!-- End Div "wrapper"-->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-4142735-4");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>