<% form_tag do (
{:action => 'update', :id => @award}, {'onSubmit' => 'allSelect()', 'class' => 'editform'}) %>
<h2>Edit Award: <%= @award.award %></h2>
  <%= render_partial 'form' %>

<label for="Edit">Submit</label>
<%= submit_tag 'Edit' %><br />

</div><!-- end of div form_cols -->
<% end %>


<%= link_to 'Show', :action => 'show', :id => @award %> |
<%= link_to 'Back', :action => 'list' %>
