<% form_tag do (
{:action => 'create'}, {'onSubmit' => 'allSelect()', 'class' => 'editform'}) %>
<h2>New Award</h2>
  <%= render_partial 'form' %>

<label for="Create">Submit</label>
<%= submit_tag "Create" %><br />

</div><!-- end of div form_cols -->

<% end %>


<%= link_to 'Back', :action => 'list' %>
