<% for column in Award.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @award.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @award %> |
<%= link_to 'Back', :action => 'list' %>
